

.App {
  background-image: url('./assets/vackground-com-0F2pC8_DwvM-unsplash.jpg');
  min-height: 100vh;
  background-size: cover;
  
}

.glass {
  background: rgba(255, 255, 255, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);;
}

.glass-nav {
  background: rgba(255, 255, 255, 0.2);
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
}

.bg-color {
  background-color: #F8F8FC;
}

.gray-icon {
  color: #C2C2C2;
}

.space {
  min-height: 20rem;
}

.img-detail {
  width: 13rem;
  height: 15rem;
}